<div class="delille-collection-list-item">
    <a href="{{ collection.url }}" class="delille-collection-list-item__link">
        {{ collection.image | img_url: '500x500', "collection-list-image" | img_tag: "", "collection-list-image" }}
    </a>
</div>
