
<article class="order-container white-transparent top-margined">
    <div class="order-item">
        <h3>Order Your D2 2010 Release Today!</h3>
        <img class="bottle" src="./img/bottle_2010d2Columbia.jpg" alt="D2 wine year 2010">
        <p>This 2012 Gold Medal winner of the Sunset International Wine
            Compeition is a must have for your collection! Showing wonderful
            complex aromas of red and black berries, anise, nutmeg, cedar,
            cocoa and wood smoked cinnamon characters.
        </p>
        <table>
            <tr>
                <td colspan="3">price</td>
            </tr>
            <tr>
                <td>bottle</td>
                <td>/</td>
                <td>case</td>
            </tr>
            <tr>
                <td>$40</td>
                <td>/</td>
                <td>$480</td>
            </tr>
        </table>
        <form action="">
            <label for="quantity1">qty</label>
            <div class="quantity less">–</div>
            <input type="number" id="quantity1" name="quantity" value="1" min="1" max="100"><br>
            <div class="quantity more">+</div>
            <button type="submit" value="Submit">buy now</button>
        </form>
        <a href=""><img class="btn" src="./img/button_buy.png" alt="buy de lille wine"></a>
    </div>
</article>
