<section style="width: 300px; height: 300px; border: 1px solid red"></section>

{% schema %}
{
  "name": "another",
  "settings": [
    {
      "type": "text",
      "content": "another text",
      "default": "another default"
    },
    {
      "id": "another",
      "type": "text",
      "label": "another label"
    }
  ],
  "presets": [
    {
      "name": "another preset name",
      "category": "another category"
    }
  ]
}
{% endschema %}