
<div style="width: 300px;height: 300px;border: 1px solid red; margin-left:{{ section.settings.options.value }}em"></div>


{% schema %}
{
  "name": "Text Box",
  "settings": [
    {
      "id": "align",
      "type": "select",
      "label": "align",
      "options": [
        {
          "value": "3",
          "label": "Left"
        },
        {
          "value": "6",
          "label": "Right"
        }
      ],
      "default": "left"
    }
  ],
  "presets": [
    {
      "name": "another section",
      "category": "another category"
    }
  ]
}
{% endschema %}