
<div style="width: 300px;height: 300px;border: 1px solid red"></div>


{% schema %}
{
  "name": "Text Box",
  "settings": [
    {
      "id": "custom_text_title",
      "type": "text",
      "label": "Text box heading",
      "default": "Your Title"
    },
    {
      "id": "custom_text_body",
      "type": "richtext",
      "label": "Add custom text below",
      "default": "<p>Add your mega text here!</p>"
    }
  ],
  "presets": [
    {
      "name": "another section",
      "category": "another category"
    }
  ]
}
{% endschema %}