
<div style="width: 300px;height: 300px;border: 1px solid red; margin-left:{{ section.settings.margin }}em"></div>


{% schema %}
{
  "name": "Text Box",
  "settings": [
    {
      "id": "margin",
      "type": "select",
      "label": "Margin left",
      "options": [
        {
          "value": "3",
          "label": "Less"
        },
        {
          "value": "6",
          "label": "More"
        }
      ],
      "default": "3"
    }
  ],
  "presets": [
    {
      "name": "another section",
      "category": "another category"
    }
  ]
}
{% endschema %}