
<div style="width: 300px;height: 300px;border: 1px solid red; float:{{ section.settings.options.value }}"></div>


{% schema %}
{
  "name": "Text Box",
  "settings": [
    {
      "id": "align",
      "type": "select",
      "label": "align",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left"
    }
  ],
  "presets": [
    {
      "name": "another section",
      "category": "another category"
    }
  ]
}
{% endschema %}