<div>
  <img class="info-img" src="{{ "info_visiting.jpg" | asset_url }}" alt="tasting wine">
  <h3>visit us</h3>
</div>
<div>
  <form action="">
    <fieldset>
      <legend>sign up!</legend>
      <label for="name">name</label>
      <input type="text" id="name" name="name" value="" placeholder="Great A'Tuin"><br>
      <label for="">email address</label><br>
      <input type="email" id="mail" name="mail" value="" placeholder="discworld@gmail.com" required>
    </fieldset>
  </form>
  <h3>mailing list</h3>
</div>
<div>
  <img class="info-img" src="{{ "info_shipping.jpg" | asset_url }}" alt="shipping wine">
  <h3>shipping</h3>
</div>

{% schema %}
{
  "name": "delille_info",
  "class": "info centered white-transparent top-margined",
  "presets": [
    {
      "name": "delille_info",
      "category": "Info"
    }
  ]
}

{% endschema %}
