body{
  background: lightgray;
}
#result{
  border: 1px solid grey; 
  margin: 0 auto; 
  padding: 1em; 
  background-color: white;
}
[type="button"]{
    box-shadow: 1px 1px 1px 1px black;
}
[type="button"]:hover{
    background-color: lightgray;
}
[type="button"]:active{
    box-shadow: 1px 1px 1px 1px white;
}
