<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="section-header text-center">
        <h1> Liquid testing </h1>
      </div>
      <div class="rte">
        {% assign a = 8 %}
        <div style="width: 50%; border: 1px solid grey; margin: 0 auto; padding: 1em;">
          {{ a }}<br>
          {{ a | at_least: 3 }}<br>
          {{ a | at_most: 5 }}<br>
        </div>
      </div>
    </div>
  </div>
</div>