{{ "test.css" | asset_url | stylesheet_tag }}
<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="section-header text-center">
        <h1> Testing </h1>
      </div>
      <div class="rte">
        <div id="result">
          {% section 'collection-delille' %}
        </div>
      </div>
    </div>
  </div>
</div>
{{ "testing.js" | asset_url | script_tag }}