<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="section-header text-center">
        <h1> Liquid testing </h1>
      </div>
      <div class="rte">
        {% assign a = -5 | abs %}
        <div style="width: 50%; border: 1px solid grey; margin: 0 auto; padding: 1em;">
          {{ a | plus: 3 }}
        </div>
      </div>
    </div>
  </div>
</div>